.link-list {

}

.navigation {

}

a {
    text-decoration: none;
}


.page-link {
    background-color: lightblue;
    padding: 10px;
    color: blueviolet;
    border-radius: 10%;
}

.page-link:hover {
    background-color: dodgerblue;
    color: bisque;
}

.page-link:not(a) {
    border: 2px double red ;
}

/* .page-link:hover:not(button) {
    background-color: dodgerblue;
    color: bisque;
} */

.page-link:focus {
    border: 10px solid green;
}

.page-link:active {
    background-color: orange;
    color: black;
}

.link-list li {
    display: inline-block;
    margin-top: 30px;
}

input:focus {
    background-color: aqua;
}