.link-list {
}

a {
    text-decoration: none;
}

.page-link {
    background-color: lightblue;
    padding: 10px;
    color: blueviolet;
}
/* .page-link:hover {
    background-color: dodgerblue;
    color: bisque;
} */

.navigation {
}

.page-link:not(a) {
    border: 2px double red ;
}

.page-link:hover:not(button) {
    background-color: dodgerblue;
    color: bisque;
}

.link-list li {
    display: inline-block;
    margin-top: 30px;
}